html {
    box-sizing: border-box;
    background-color: darkslategrey;
}

*, *:before, *:after    {
    box-sizing: inherit;
}

body {
    
    background-color: paleturquoise;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: saddlebrown;
    padding: 20px;

}



div {
    padding: 5%;
}

img {
    width: 40%;
    height: auto;
}

.header {
    padding: 60px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightblue;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 50px;
    line-height: 1.2em;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 25px;
    color:lightblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    color: lightblue;
}

.info {
    margin: 4%;
    padding: 20px;
}

.img {
    margin: 4%;
    padding: 20px;
    align-items: stretch;
}


.brownies {
    margin: 4%;
    padding: 20px;
}

.direct1 {
    margin: 4%;
    padding: 20px;
}

.directions{
    margin: 4%;
    padding: 20px;
}

.frosting {
    margin: 4%;
    padding: 20px;
}

.direct2 {
    margin: 4%;
    padding: 20px;
}

a:hover{background-color: saddlebrown; color: lightblue;}


/*------Media Queries------*/

/*Moblie*/
@media screen and (max-width: 500px) {
    body {background-color: pink;}
}
