img {
align-items: stretch;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after    {
    box-sizing: inherit;
}

.container {
	line-height:27px;
	margin: 0 200px;
    background-color: lightblue;
    color: brown;
}

.container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 10px;
    background-color:lightblue;

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color:saddlebrown;
    color:wheat;
}

h5 {
    background-color: rgb(161, 154, 149);
    color: wheat; 
}

.title {
    grid-column: span;
    text-align: center;

}

.info {
    grid-column: 2/span 2;
    margin: 5px;
    padding: 20px;
}

.image {
    grid-column: 1/span ;
    margin: 5px;
    padding: 20px;
}


.brownies {
    grid-column: 1/span ;
    margin: 5px;
    padding: 20px;
}

.direct1 {
    grid-column: 2/span ;
    margin: 5px;
    padding: 20px;
}

.directions{
    grid-column: 2/span ;
    margin: 5px;
    padding: 20px;
}

.frosting {
    grid-column: 1/span ;
    margin: 5px;
    padding: 20px;
}

.direct2 {
    grid-column: 1/span ;
    margin: 5px;
    padding: 20px;
}

