img {
align-items: stretch;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after    {
    box-sizing: inherit;
}

.container {
	line-height:27px;
	margin: 0 200px;
    background-color: lightblue;
    color: brown;
}

.container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 10px;
    background-color:lightblue;

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: brown;
    color: tan;
}

.title {
    grid-column: 1/span 2;
}

.info {
    grid-column: 2/span 2;
}

.image {
    grid-column: 1/span ;
}

.brownie {
    grid-column: 1/span ;
}

.brownies {
    grid-column: 1/span ;
}

.ingren1 {
    grid-column: 1/span 1;
}

.direct1 {
    grid-column: 2/span ;
}

.needs1 {
    grid-column: 1/span 1;
}

.directions{
    grid-column: 2/span ;
}

.frosting {
    grid-column: 1/span ;
}

.ingren2 {
    grid-column: 1/span 1;
}

.direct2 {
    grid-column: 1/span ;
}

.needs2 {
    grid-column: 1/span ;
}